//- setting menu -still develop
extends layout

block variables
	- var containerClasses = ['h-100', 'row', 'align-items-center']
block content
	
	div.containerClasses
		div.searchbox
			p
				a(href='medicine') Medicine maintenance
			p
				a(href='formula') Formula maintenance

	  
